@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --accent: #5865F2;
    --accent-2: #7c5cff;
    --bg: #0f1115;
    --panel: #1e1f23;
    --muted: #9aa4b2;
}

body {
    background: var(--bg);
    color: #E6EEF6;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system;
}
